//Box sizing
*, *::before, *::after {
    box-sizing: border-box;
} 

//Reset margins
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

//set up the body 



//make images easier to work with

img, picture {
    max-width: 100%;
    display: block;
    margin-inline: auto;
}

//make form elements easier to work with

input,
button,
textarea,
select {
    font: inherit;    
}
//list items

li{
    list-style: none;
}

li a, li a::after {
    text-decoration: none;
    color: black;
}


//remove animations for people who've turned them off 

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }






//more whitespace
main {
    margin-bottom: 5em;
  }

  //screen reader only
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

body {
    @media (min-width: 45em){
        overflow: visible !important;
    }
}