:root{
    //font sizes
    --fs-300: clamp(1.4rem, 1rem + 2vw, 3rem);
    --fs-200: clamp(1.25rem, 1rem + 2vw, 2rem);
    --fs-100: 1rem;



    //font family
    --ff-sans-normal: 'Montserrat', sans-serif;
    --ff-sans-italic: 'Montserrat', sans-serif, italic;
    --ff-serif: 'Montserrat', serif;

    //padding

    --underline-gap : 1rem;
}









